POSTGRES_DB=issueflow
POSTGRES_USER=issueflow
POSTGRES_PASSWORD=issueflow
BACKEND_PORT=4000
FRONTEND_PORT=5173
BACKEND_CORS_ORIGIN=http://localhost:5173
BACKEND_DATABASE_URL=postgres://issueflow:issueflow@db:5432/issueflow
VITE_API_URL=http://localhost:4000

